<% if @peeps %>
  <% @peeps.each do |peep| %>
      <blockquote>
        <h1><%= peep.user.name %></h1>
        <p><%= peep.peep %><p>
        <p class="handle">
         <%= peep.user.created_at.strftime("%-d %b %l:%M%P") %> by <%= peep.user.handle %>
         <% if session[:user_id].nil? %>
           <h2 class="reply">
            <a href="/users/login">login</a>
           </h2>
         <% else %>
           <h2 class="reply">
            <a href="/poops/add/<%= peep.id %>">poop</a>
           </h2>
         <% end %>
        </p>
      </blockquote>

      <% @poops = peep.poops %>
      <%= partial :poops %>

  <% end %> 
<% end %> 